body {
  margin: 0;
  background: #0b0f14;
  color: #e5e7eb;
  font-family: monospace;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #22c55e;
}

.card {
  background: #111827;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #1f2937;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #0b0f14;
  border: 1px solid #374151;
  color: white;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
}

button:hover {
  background: #16a34a;
}

pre {
  background: #020617;
  padding: 12px;
  overflow: auto;
}
